/*Reseteamos el modelo de cajas*/
* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

/*Estilo base*/
body {
font-family: 'Oswald', sans-serif;
}
.header {
background-color: #9933cc;
color: #ffffff;
padding: 15px;
display: table; /*Compórtate como una tabla*/
width:100%;
}
/*div.logo y h1 se comportan como celdas de la tabla*/
.logo{
  display: table-cell;
  vertical-align: middle;
}
.logo img{
  width: 200px;
  margin: 10px;
}
.header h1{
  vertical-align: middle;
  display: table-cell;
  text-transform: capitalize;
}
.footer {
background-color: #9933cc;
color: #ffffff;
padding: 15px;
text-align: center;
}
.menu ul {
list-style-type: none;
margin: 0;
padding: 0;
}
.menu li {
padding: 8px;
margin-bottom: 7px;
background-color :#33b5e5;
color: #ffffff;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover {
background-color: #0099cc;
}

aside p {
height: 100px;
padding: 8px;
margin: 0;
background-color :#33b5e5;
color: #ffffff;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/*Para cualquier tamaño*/
[class*="col-"] {
  float: left;
  padding: 15px;
}

section {
  display:block;
}

.row:after {
  content: "";
  clear: both;
  display: block;
}

.imag1{
  display: none;
  max-width: 120px;
}
.imag2{
  display: none;
}
.imag3{
  display: none;
}

/********** Dispositivos grandes **********/
@media screen and (min-width: 991px) {
  .col-lg-1 {width: 8.33%;}
  .col-lg-2 {width: 16.66%;}
  .col-lg-3 {width: 25%;}
  .col-lg-4 {width: 33%;}
  .col-lg-5 {width: 41.66%;}
  .col-lg-6 {width: 50%;}
  .col-lg-7 {width: 58.33%;}
  .col-lg-8 {width: 66.66%;}
  .col-lg-9 {width: 74.99%;}
  .col-lg-10 {width: 83.33%;}
  .col-lg-11 {width: 91.66%;}
  .col-lg-12 {width: 100%;}

  .imag1{
    display: inline;
    max-width: 120px;
  }
  .camiseta img{
    max-width: 278px;
    border: 2px solid blue;
    margin-top: 8px;
  }
}


/* Para dispositivos pequeños: */
@media screen and (max-width: 767px) {
  [class*="col-"] {
    width: 100%;
  }
  .imag3{
    display: inline;
    max-width: 60px;
  }
  .camiseta img{
    max-width: 180px;
    border: 2px solid blue;
    margin-top: 8px;
  }
}

/* Modificación del css */

@media screen and (min-width: 768px) and (max-width: 992px) {
  .col-md-1 {width: 8.33%;}
  .col-md-2 {width: 16.66%;}
  .col-md-3 {width: 25%;}
  .col-md-4 {width: 33%;}
  .col-md-5 {width: 41.66%;}
  .col-md-6 {width: 50%;}
  .col-md-7 {width: 58.33%;}
  .col-md-8 {width: 66.66%;}
  .col-md-9 {width: 74.99%;}
  .col-md-10 {width: 83.33%;}
  .col-md-11 {width: 91.66%;}
  .col-md-12 {width: 100%;}

  .imag2{
    display: inline;
    max-width: 80px;
  }
  .camiseta img{
    max-width: 200px;
    border: 2px solid blue;
    margin-top: 8px;
  }
}
