body{
  font-family: Verdana;
  color: darkblue;
  font-size: 0.9em;
  line-height: 1.4em;
  background-image: url(backg.jpg);
}
h1{

  text-align: center;
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px;
  text-transform: capitalize;
  background-image: url(h1bg.jpg);
  color: white;
  border-color: white;
}
p{
  text-indent: 1cm;
}
a{
  text-decoration: none;
}
a:visited{
  font-style: italic;
  color: darkgreen;
}

.pdf{
  padding: 0 0 0 18px;
  background: url(pdf.png) no-repeat left center;
  background-size: 18px;
}

tr:nth-child(even){
  background-color: lightgrey;
}
tr:nth-child(odd){
  background-color: white;
}

table{
  border-spacing: 0px;
  border-collapse: collapse;
}

table *{
  border: 2px solid black;
  text-align: center;
  color: black;
}

.css{
  background: url(css3.jpg) no-repeat left center;
}
.html{
  background: url(html5.png) no-repeat left center;
}
.css, .html{
  vertical-align: center;
  background-size: 50px 50px;
  padding-left: 55px;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-right: 5px;
}

td{
  vertical-align: bottom;
}

.css:active, .html:active{
  background-color: #FFFF66;
}

span{
  font-style: italic;
  color: black;
}
