img{
  float: left;
  clear: left;
  margin: 20px;
}
.izquierda{
  float: left;
  margin-left: 10px;
}
.derecha{
  float: right;
  margin-right: 10px; 
}
#paginacion{
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgb(199, 199, 199);
}
.clear{
  clear: both;
}
